{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" style="background: rgba(1, 144, 154, 0.9); padding: 40px 0;">
        <div class="container text-center">
            <h2 class="white-text"><b>Play Online Matka</b></h2>
            <h2 class="white-text"><b>#1 Most Trusted Matka Play Website</b></h2>
            <a href="tel:8217228766" style="color: yellow; font-size: 20px; font-weight: bold;">Call Us: 8217228766</a>
            <hr style="border-color: rgba(255,255,255,0.2)" />
            <p class="white-text">
                MatkaPlay.net is the best preferred platform to play online satta matka. We provide the best interface to guess and win. 
                We guarantee the best online matka play with Kalyan tricks and tips.
            </p>
        </div>
    </div>

    <div class="container-fluid how-play-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="how-left">
                        <h2>Notice Board</h2>
                        <hr />
                        <p><strong>BEST ONLINE MATKA PLAY CREATED BY KAMALAKAR AND HIS TEAM.</strong></p>
                        <p>MINIMUM DEPOSIT: 500</p>
                        <p>MINIMUM WITHDRAWAL: 1000</p>
                        <p>MAXIMUM WITHDRAWAL: NO LIMITS</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="how-right">
                        <h2>Matka Game Rates</h2>
                        <ul class="list-group">
                            <li class="list-group-item">SINGLE <span class="pull-right">10 ka 95</span></li>
                            <li class="list-group-item">JODI <span class="pull-right">10 ka 950</span></li>
                            <li class="list-group-item">SINGLE PATTI <span class="pull-right">10 ka 1400</span></li>
                            <li class="list-group-item">DOUBLE PATTI <span class="pull-right">10 ka 2800</span></li>
                            <li class="list-group-item">TRIPPLE PATTI <span class="pull-right">10 ka 8000</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding: 30px 0;">
        <div class="container">
            <h2 class="heading white-text">Matka Results</h2>
            <div class="results-container">
                {% include "display.html" %}
            </div>
        </div>
    </div>

    <div class="container-fluid blue-background" style="padding: 40px 0;">
        <div class="container text-center white-text">
            <h2>Matka Play Online</h2>
            <p>Call us to play online matka</p>
            <h3><i class="fa fa-phone"></i> +91 8217228766</h3>
            <hr style="border-color: rgba(255,255,255,0.2)" />
            <p>Get Lucky and play the satta matka game with minimum amounts. Expert Kalyan suggestions provided daily.</p>
        </div>
    </div>

    <div class="container" style="padding: 40px 0;">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">Online Matka</h3>
                <p>Live results on all the online matka play markets, every day on Matka Play. We cover Rajdhani, Kalyan, Main Ratan, and Navratna.</p>
                
                <h3 class="heading">Why Choose Us</h3>
                <p>MatkaPlay.net stands out with a mobile-friendly platform and user-friendly navigation.</p>
                
                <h3 class="heading">How to Win?</h3>
                <ul>
                    <li><b>Understand the Game:</b> Learn the regulations and bet types.</li>
                    <li><b>Research:</b> Check past results and charts for patterns.</li>
                    <li><b>Manage Funds:</b> Set a budget and stick to it.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="padding-bottom: 50px;">
        <h3 class="heading">FAQ</h3>
        <div class="content-link">
            <h5><b><i class="fa fa-hand-o-right"></i> Is Matkaplay safe?</b></h5>
            <p>Yes, we have served the industry for 10+ years with accurate results and 24/7 support.</p>
            
            <h5><b><i class="fa fa-hand-o-right"></i> Can I play on mobile?</b></h5>
            <p>Yes, our website is fully optimized for all smartphones and tablets.</p>
        </div>
    </div>

    <script>
        /* NOTE: Automatic refresh is disabled for better user experience 
           while using the color settings. If you need it, increase the 
           time to 30000 (30 seconds).
        */
        // setInterval(function() { location.reload(); }, 30000); 
    </script>
{% endblock %}